:root {
  --color-principal: #0052cc;
  --color-secundario: #ffd6c0;
}

.tarjeta {
  background-color: var(--color-principal);
  margin: 10px 0 10px;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0 0 15px;
}
